{% if is_course_staff %}
<h3>Submissões</h3>
<div class="of-submissions_outer_container">
    <div class="of-submissions_inner_container">
        {% for submission in submissions %}
            <div class="of-submissions_response">
                <strong>[{{ submission.timestamp|date:"SHORT_DATE_FORMAT" }}] </strong>
                {{ submission.feedback }}
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
    {% if student_submitted %}
        <p>Obrigado pelo feedback.</p>
    {% else %}
        <div id="of-input-group_{{ xblock_id }}">
            <label class="of-prompt" for="student_feedback_{{ xblock_id }}">{{ prompt }}</label>
            <textarea class="of-input" id="student_feedback_{{ xblock_id }}"></textarea>
        </div>

        <div class="action">
            <button class="submit btn-default" data-should-enable-submit-button="True" data-submitting="A submeter"
                    data-value="Submeter" id="submit_{{ xblock_id }}"
                    type="button">
                <span class="submit-label">Submeter</span>
                <span aria-hidden="true" class="icon fa fa-caret-right"></span>
            </button>
        </div>
    {% endif %}
{% endif %}
